
/*
    Uguale per tutti
*/
.mainDiv {
    background-color: #621708;
    text-align: center;
    margin: 5% 10% 0 10%;
    width: 80%;
    border-radius: 2cqw;
    /*box-shadow: 0 1cqw 3cqw #AF58DA;*/
}

body {
    background-color: #220901;
    height: 100%;
    margin: 0;
    color: #F6AA1C;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

/*
    Per sondaggio
*/

.mainDiv h1 {
    font-size: 4em;
    padding-top: 5%;
}

.mainDiv div {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    padding: 2%;
}

.selectDiv {
    border: solid #F6AA1C 3px;
    margin: 1%;
    width: 50cqb;
    padding: 1%;
    border-radius: 1cqw;
    transition: 300ms;
    font-size: 2em;

}

.selectDiv:hover {
    border-color: #941B0C;
    box-shadow: 0 0cqw 2cqw #BC3908;
}

input[type="radio"] {
    display: none;
}

input[type="submit"] {
    background-color: #621708;
    color: #F6AA1C;
}

input[type="radio"]:checked + label {
    background-color: #BC3908;
    border-color: #941B0C;
}

