body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #220901;
    height: 100%;
    color: #F6AA1C;
}

.graphDiv {
    padding-left: 30%;
    padding-right: 30%;
}

.graph {
    height: 370px;
    width: 100%;
}